*, ::before, ::after {
  box-sizing: border border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Mono", Arial, serif;
  background-color: #f2f2f2;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://img.freepik.com/free-photo/aesthetic-minimal-white-grid-pattern-wallpaper_53876-96916.jpg?w=2000&t=st=1710866627~exp=1710867227~hmac=41d936921c713610aa2f6c26c041c237313f65757cb18d35a0d12bcf947400a5);
}
.esimene {
  background-color: #000;
  color: #fff;
  width: 100vw;
  height: 60%;
padding: 20px;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 100;

}
.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  left: 0vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #000;
  color: #fff;
}
  .navbar .logo h1 {
    font-size: 1.5rem;
    margin-left: 87px;
}
.nav-links {
    list-style: none;
    padding: 70px;
    display: inline-flex;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li:last-child {
    margin-right: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
}
.kes {
  font-weight: 900;
  font-size: 60px;
  margin-top: 20px;
  text-align: center;
}
.nimi {
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
main {
  padding: 30px;
}

section {
  margin-bottom: 10px;
  align-items: center;
  text-align:center;
}
.photo {
  width: 180px;
  height: 200px;
  float: left;
  position: relative;
  right: -60px;
  bottom: -20px;
}
.gallery {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}
.gallery img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;

}
.gallery img:hover {
transform: scale(1.2); 
}
.gallery::after {
  content: "";
  width: 400px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 67, 98);
  text-align: center;
  padding: 5px;
  padding-top: 16px;
  text-shadow: 1px 0px 1px black;
}
p {
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 67, 98);
  text-shadow: 1px 0px 1px black;
  text-align: center;
  padding: 5px; 
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.footer {
  font-size: 15px;
  color: white;
  text-align: center;
}
@media (max-width: 1024px) {
  .kes {
      font-size: 31px;
      padding-top: 20px;
  }
  .nimi {
    font-size: 21px;
  }
  h2 {
      font-size: 30px;
  }
  .gallery {
      padding: 10px;
  }
  .navbar .logo h1 {
    font-size: 1.2rem;
}
.nav-links a {
  font-size: 1.0rem;
}
.footer {
  font-size: 12px;
}
p {
  font-size: 25px;
  }
}
@media (max-width: 600px) {
 .kes {
      font-size: 20px;
      padding-top: 60px;
  }
  .nimi {
    font-size: 10px;
  }

  h2 {
      font-size: 20px;
  }

  .gallery {
      padding: 5px;
  }
  .navbar .logo h1 {
    font-size: 1.0rem;
}
.nav-links a {
  font-size: 0.8rem;
}
.footer {
  font-size: 10px;
}
p {
  font-size: 20px;
  }
}